html
    head
        h1 Create your new pet!
    body
        h1=message
        form(action="/api/pets/success", method='POST')
            label Name: 
                input(type='text', name='name', value='')
            label Owner Name: 
                input(type='text', name='owner', value='')
            label species: 
                input(type='text', name='species', value='')
            label color:
                input(type='text', name='color', value='')
            input(type='submit', value='Submit')
        
